<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: #fa7203;
        }
    </style>
</head>
<body>
    <h1>first static file some data</h1>
    <ul>
        <li>name{name}</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <h2> here is having Images</h2>
    <span>first movie:</span><img src="{%static'image/'%}" alt="">
    <span>first movie:</span><img src="{%static'image/'%}" alt="">

    <span>first movie:</span><img src="{%static'image/'%}" alt="">

    <span>first movie:</span><img src="{%static'image/'%}" alt="">

</body>
</html>