<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if st_data %}
      <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Marks</th>
                <th>Age</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
        {% for data in st_data %}
        <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.marks }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.course }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
</body>
</html>
