<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container">

        {% if submit %}
            <h1>Thank you {{ name }} for providing information</h1>
            <h2>Please fill the student data form</h2>
        {% else %}
            <h1>Student Registration Form</h1>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ data}}
            <input type="submit" value="Submit">
        </form>

    </div>

</body>
</html>
